
        .text1{
            color: blue;
            font-size: 20px;
        }

        .text2{
            color: red;
            font-size: 30px;
        }   
        .text3{
            color: green;
            font-size: 40px;
        }
        .text4{
            color: purple;
            font-size: 50px;
        }


